

.m .find_password_form {
    width: 400px;
    display: block;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}


.m .find_password_form .usrbox_clearfix {
    height: 54px;
    width: 400px;
    border: 1px solid black;
    margin: 20px auto;
}
.usrbox_clearfix span {
    float: right;
    height: 52px;
    width: 100px;
    margin-top: 1px;
    /*background-color: #cccccc;*/
    font-size: 10px;
    text-align: center;
    line-height: 52px;
    color: red;
}

.m .find_password_form .e_check .check_icon{
    height: 54px;
    width: 23px;
    float: right;
}

.m .find_password_form .e_check .check_icon .check_icon_image{
    height: 18px;
    width: 18px;
    margin: 18px 2px;
    display: none;
    /*inline-block*/
    background: url(../images/icon_username.png) no-repeat center;
}

.m .find_password_form .usrbox_clearfix .icon {
    float: left;
    height: 52px;
    width: 45px;
}

.m .find_password_form .usrbox_clearfix .icon .icon_username {
    height: 50px;
    width: 45px;
    display: inline-block;
    background: url(../images/icon_username.png) no-repeat center;
}
.m .find_password_form .usrbox_clearfix .icon .icon_password {
    height: 50px;
    width: 45px;
    display: inline-block;
    background: url(../images/icon_password.png) no-repeat center;
}

.m .find_password_form .usrbox_clearfix input {
    float: left;
    height: 52px;
    width: 250px;
    font-size: 20px;

}

.m .find_password_form .check .email_check{
    height: 52px;
    width: 250px;
    display: inline-block;
    float: left;
}
.m .find_password_form .check .email_check_image{
    height: 42px;
    width: 150px;
    margin: 5px 20px;
    line-height: 42px;
    background-color: #cccccc;
}
.m .find_password_form .check .email_check_image img{
    height: 42px;
    width: 150px;
}
.m .find_password_form .check .flash{
    width: 140px;
    height: 52px;
    display: inline-block;
    float: right;
}
.m .find_password_form .check .flash .flash_text{
    width: 100px;
    height: 42px;
    margin: 5px auto;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    color: cadetblue;
    background-color: #cccccc;
}

.m .find_password_form .submit {
    width: 400px;
    height: 54px;
}
.m .find_password_form .submit input {
    display: block;
    font-size: 20px;
    height: 50px;
    width: 100px;
    margin: 20px auto;
}

/*footer*/
.footer {
    margin-top: 240px;
}
